<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd"
     default-lazy-init="false">
    
    <!-- 申明使用springCache --> 
    <cache:annotation-driven cache-manager="springCacheManager"/>
	
	<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"></bean>
	
	<bean id="codisResourcePool" class="com.appleframework.cache.codis.CodisResourcePool">
		<property name="zkAddr"></property>
		<property name="zkProxyDir"></property>
	</bean>

	
	<bean id="springCacheManager" class="com.appleframework.cache.j2cache.codis.spring2.SpringCacheManager">
		<property name="ehcacheManager" ref="ehcacheManager"></property>
		<property name="codisResourcePool" ref="codisResourcePool"></property>
		<property name="cacheObject" value="true"></property>
		<!-- 配置缓存时间 -->
		<property name="expireConfig">
			<map>
				<entry key="" value=""></entry>
			</map>
		</property>
		<property name="cacheTypeMap">
			<map>
				<entry key="" value=""></entry>
			</map>
		</property>
	</bean>
	
</beans>